*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#000;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.camera{
width:100%;
max-width:500px;
position:relative;
}

video{
width:100%;
border-radius:15px;
}

canvas{
display:none;
}

.controls{
display:flex;
justify-content:space-around;
padding:15px;
}

button{

padding:12px 20px;
font-size:18px;
border:none;
border-radius:10px;
cursor:pointer;

}
