*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#000;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.camera{
width:100%;
max-width:500px;
position:relative;
}

video{
width:100%;
border-radius:15px;
}

canvas{
display:none;
}

.controls{
display:flex;
justify-content:space-around;
padding:15px;
}

button{

padding:12px 20px;
font-size:18px;
border:none;
border-radius:10px;
cursor:pointer;

}
#countdown{
position:absolute;
top:45%;
left:50%;
transform:translate(-50%,-50%);
font-size:80px;
color:white;
font-weight:bold;
text-shadow:0 0 20px black;
display:none;
}

#status{
position:absolute;
top:15px;
left:15px;
background:#0008;
color:white;
padding:8px 15px;
border-radius:20px;
font-size:15px;
}

#zoomValue{
position:absolute;
top:15px;
right:15px;
background:#0008;
color:white;
padding:8px 15px;
border-radius:20px;
font-size:15px;
}

button{
background:white;
transition:.3s;
}

button:hover{
transform:scale(1.1);
}
